html, body {
  height: 100%;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  color: white;
}

body {
  margin: 0;
}

#wrapper {
  display: grid;
  height: 100%;
  grid-template-rows: 100px 699px 1fr;
  grid-template-columns: 300px 1fr 250px;
  grid-template-areas:
    'header header header'
    'leftbar main rightbar'
    'leftbar main rightbar';
}

header {
  grid-area: header;
  background-image: url("../images/top.jpg");
  background-position: center;
  text-align: center;
  border-left: 15px solid black;
  border-right: 15px solid black;
}

header h1 {
  font-size: 40px;
}

#leftbar {
  grid-area: leftbar;
  background: #42412F;
  text-align: left;
  border-top: 15px solid black;
  border-left: 15px solid black;
  border-bottom: 15px solid black;
  display: grid;
  grid-template-rows: 55px 1fr;
  grid-template-areas:
  'toplog'
  'log';
}

#toplog {
  grid-area: toplog;
}

#log {
  grid-area: log;
  overflow-y: auto;
}

#log::-webkit-scrollbar {
    width: 15px;
}

#log::-webkit-scrollbar-track {
  background: #42412F;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#log::-webkit-scrollbar-thumb {
  background: #292816;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#leftbar h1 {
  margin-top: 10px;
  padding: 0px 0px 5px 15px;
  font-size: 30px;
  border-bottom: 5px solid #292816;
}

#leftbar p {
  margin-top: 5px;
  padding-left: 0.75em;
  display: inline-block;
}


#leftbar img {
  width: 15px;
  height: 15px;
}

main {
  grid-area: main;
  background: #013220;
  text-align: center;
  border: 15px solid black;
  display: grid;
  grid-template-rows: 1fr 250px;
  grid-template-areas:
  'canvas'
  'shop';
}

#images {
  display: none;
}

#canvasholder {
  grid-area: canvas;
  border-bottom: 15px solid black;
}

#shop {
  grid-area: shop;
  background: #393F35;
  border: 5px solid #5C6655;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  'item';
}

#shop img {
  padding: 5px;
  border: 3px solid #5C6655;
}

.item {
  margin: 20px 15px 0px 15px;
  width: 60px;
  height: 150px;
}

.item button {
  width: 66px;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  background: #292816;
  color: white;
  border: none;
  margin-bottom: 5px;
}

.item button:hover {
  background: #D6D7E9;
  color: #292816;
  cursor: pointer;
  box-shadow: 0 3px #292816;
}

.item button:active {
  transform: translateY(2px);
  box-shadow: 0 3px #292816;
}

.item p {
  margin: 0;
  width: 60px;
  background: #292816;
  border: 3px solid #5C6655;
}

#rightbar {
  grid-area: rightbar;
  background: black;
  text-align: center;
  border-top: 15px solid black;
  border-right: 15px solid black;
}

#rightbar div {
  border-top: 5px solid #292816;
  background: #42412F;
  margin-bottom: 20px;
}

#rightbar div h1 {
  margin: 10px;
  margin-bottom: 0;
  font-size: 28px;
}

#rightbar div p {
  margin: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

#rightbar div input {
  margin: 10px;
  width: 200px;
  height: 20px;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  background: #292816;
  color: white;
  font-size: 18px;
}

#rightbar div button {
  width: 200px;
  height: 40px;
  margin: 10px;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  background: #292816;
  color: white;
  font-size: 20px;
  border: none;
}

#rightbar div button:hover {
  background: #D6D7E9;
  color: #292816;
  cursor: pointer;
  box-shadow: 0 3px #292816;
}

#rightbar div button:active {
  transform: translateY(2px);
  box-shadow: 0 3px #292816;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}
